.App {
  text-align: center;
  color: #d6d5cb;
}
#light {
  background: #fffffa;
  color: #0f1329;
}
#dark {
  background: #0f1329;
  color: #d6d5cb;
}
.Navbox {
  background: white;
  margin: 0;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  height: 60px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.typewriter::after {
  content: "";
  margin-bottom: -10px;
  margin-left: 1%;
  width: 0.13rem;
  height: 5rem;
  /* background: #d6d5cb; */
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
.satisfy-font {
  font-family: "Satisfy", cursive;
}
.cookie-font {
  font-family: "Cookie", cursive;
}
.a-line {
  width: 7rem;
  height: 0.3rem;
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.b-line {
  width: 6rem;
  height: 0.142rem;
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.card {
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.75);
}
.card {
  /* color: white; */
  background: #0f1329;
}
.prev-button:active,
.next-button:active {
  border-radius: 30%;
}
.prev-button,
.next-button {
  font-size: 2.3rem;
}
/* .screenshots img:last-child {
  display: none;
}
.screenshots:hover img:last-child {
  display: block;
}
.screenshots:hover img:first-child {
  display: none;
} */

@media only screen and (max-width: 350px) and (min-width: 200px) {
  .typewriter {
    font-size: 3.6rem;
  }
}
